extends ../layouts/master

block content
    main.content.px-3.py-4
        div.container-fluid
            div.mb-3
                div.d-flex.justify-content-between.mb-3
                    h3.fw-bold.fs-4.mb-3 Pengaturan Periode
                    a.btn.btn-success.px-4.pt-2(href='/pengajuan/create')
                        strong + Add
                div.card.bg-light.shadow.border-0.rounded-3.mb-4
                    div.border-bottom.ps-3.pt-3
                        p.fw-semibold List of Periode Beasiswa
                    div.table-responsive.small.px-3
                        table.table.table-striped.table-sm.mt-1
                            thead
                                tr
                                    th(scope='col') Jenis Beasiswa
                                    th(scope='col') Periode
                                    th(scope='col') Tanggal Mulai
                                    th(scope='col') Tanggal Akhir
                                    th.text-center(scope='col') Pengajuan
                            tbody
                                each status in statuss
                                    tr
                                        td #{status.jenis_beasiswas.name}
                                        td #{status.periode.name}
                                        td #{status.tanggal_mulai}
                                        td #{status.tanggal_akhir}
                                        td.text-center
                                            a.btn.btn-secondary(href=`/pengajuan/pengajuanBeasiswa/${status.id}`)
                                                svg.bi.bi-box-arrow-up-left(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                                    path(fill-rule='evenodd' d='M7.364 3.5a.5.5 0 0 1 .5-.5H14.5A1.5 1.5 0 0 1 16 4.5v10a1.5 1.5 0 0 1-1.5 1.5h-10A1.5 1.5 0 0 1 3 14.5V7.864a.5.5 0 1 1 1 0V14.5a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-.5-.5H7.864a.5.5 0 0 1-.5-.5')
                                                    path(fill-rule='evenodd' d='M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 0 1H1.707l8.147 8.146a.5.5 0 0 1-.708.708L1 1.707V5.5a.5.5 0 0 1-1 0z')