extends ../layouts/master

block content
    main.content.px-3.py-4
        div.container-fluid
            div.mb-3
                div.d-flex.justify-content-between.mb-3
                    h3.fw-bold.fs-4.mb-3 Edit Periode Beasiswa
                    a.btn.btn-warning.px-4.pt-2(href='javascript:history.back()')
                        strong Back
                div.card.bg-light.shadow.border-0.rounded-3.mb-4
                    form.p-5(method='post', action='/status/update')
                        div.row.mb-3
                            label.form-label.fw-semibold(for="id") ID
                            div.col-sm-4
                                input.form-control(type="text",
                                    name="id",
                                    id="id",
                                    readonly,
                                    maxlength=5
                                    value=`${status.id}`)
                        div.row.mb-3
                            label.form-label.fw-semibold(for="jenis_beasiswa_id") Jenis Beasiswa
                            div.col-sm-8
                                select.form-select(aria-label='Default select example' name='jenis_beasiswa_id', id='jenis_beasiswa_id')
                                    option(value=`${status.jenis_beasiswa_id}` selected='') #{status.jenis_beasiswas.name}
                                    each jenisBeasiswa in jenisBeasiswas
                                        option(value=`${jenisBeasiswa.id}`) #{jenisBeasiswa.name}
                        div.row.mb-3
                            label.form-label.fw-semibold(for="periode_id") Periode
                            div.col-sm-8
                                select.form-select(aria-label='Default select example' name='periode_id', id='periode_id')
                                    option(value=`${status.periode_id}` selected='') #{status.periode.name}
                                    each periode in periodes
                                        option(value=`${periode.id}`) #{periode.name}
                        div.row.mb-3
                            label.form-label.fw-semibold(for="tanggal_mulai") Tanggal Mulai
                            div.col-sm-4
                                input.form-control(type="date",
                                    name="tanggal_mulai",
                                    id="tanggal_mulai",
                                    required, autofocus,
                                    maxlength=5
                                    value=`${status.tanggal_mulai}`)

                        div.row.mb-3
                            label.form-label.fw-semibold(for="tanggal_akhir") Tanggal Akhir
                            div.col-sm-4
                                input.form-control(type="date",
                                    name="tanggal_akhir",
                                    id="tanggal_akhir",
                                    required, autofocus,
                                    maxlength=5
                                    value=`${status.tanggal_akhir}`)

                        div.row.mb-3
                            label.form-label.fw-semibold(for="status") Status
                            div.col-sm-8
                                select.form-select(aria-label='Default select example' name='status', id='status')
                                    if status.status == 1
                                        option(value="1" selected) Aktif
                                        option(value="0") Tidak Aktif
                                    else
                                        option(value="1") Aktif
                                        option(value="0" selected) Tidak Aktif

                        div.d-flex
                            button.btn.btn-success.ms-auto(type="submit") Edit Pengaturan Periode